.profile {
    padding: 40px 0 25px;
    &__information {
        margin-top: 10px;
        margin-bottom: 20px;
        p {
            line-height: 20px;
        }
    }
    &__content {
        ul {
            margin-top: 20px;
            li {
                margin-bottom: 10px;
            }
        }
    }
}