$black: "#000000";
$black87: rgba(0,0,0,0.87);
$black68: rgba(0,0,0,0.68);
$black50: #00000080;
$white: rgb(255, 255, 255);
$greenDarnerTail: #74b9ff;
$electronBlue: #0984e3;
$shadow: rgba(0, 0, 0, 0.15);